<h1>Add a new birthday</h1>

<%= form_tag '/birthdays', method: :post do %>

  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  <div>

  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  <div>

  <div>
    <%= label_tag :gift %>
    <%= text_field_tag :gift %>
  <div>
 
 

<%= submit_tag "Add birthday to registry" %>

<% end %>